<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CellphoneZ </title>

  {{{stylesheets}}}

  <!-- Custom Theme Style -->
  <link href="{{#if pathIsLevelTwo}}../{{/if}}stylesheets/custom.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="{{#if pathIsLevelTwo}}../{{/if}}home" class="site_title"><i class="fa fa-mobile"></i> <span>CellphoneZ</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="userImageFromCookieByBase64 profile_pic">
              <img src="">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>John Doe</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bar-chart"></i> Dashboard</a></li>
                  <li><a><i class="fa fa-laptop"></i> Products <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}products">View all products</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}products/create">Create a product</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}categories">View all categories</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}categories/create">Create a category</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-home"></i> Warehouse <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}warehouse">Data products</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}warehouse/restock">Re-stock</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}warehouse">Get lost</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> Customer <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}customers">View all customer</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}customers#landing=page">Customer's service</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}customers#landing-page">Customer recommended</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-code"></i> POS <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}pos">Go to a application</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}revenues">All revenues</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}pos">Return</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}pos">KPI</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="menu_section">
                <h3>Advanced</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-pencil-square-o"></i> Custom website </a></li>
                  <li><a><i class="fa fa-cube"></i> Staff management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}accounts">View all staffs</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}accounts/newStaff">Create a staff</a></li>
                      <li><a href="{{#if pathIsLevelTwo}}../{{/if}}accounts/newManager">Create a manager</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-tag"></i> Manage store <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/manage">Lose product</a>
                        <li><a>Income<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="income/">Today</a>
                            </li>
                            <li><a href="{{#if pathIsLevelTwo}}../{{/if}}income">This week</a>
                            </li>
                            <li><a href="{{#if pathIsLevelTwo}}../{{/if}}income">This month</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="{{#if pathIsLevelTwo}}../{{/if}}return">Return</a>
                        </li>
                    </ul>
                  </li>                  
                  <li><a id="landing-page" href="javascript:void(0)"><i class="fa fa-star"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
              </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav">
            <ul class=" navbar-right">
              <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                  data-toggle="dropdown" aria-expanded="false">
                  <img class="userImageFromCookieByBase64" src="" alt="">John Doe
                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="javascript:;"> Profile</a>
                  <a class="dropdown-item" href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>KPI</span>
                  </a>
                  <a class="dropdown-item" href="javascript:;">Help</a>
                  <a class="dropdown-item" href="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                </div>
              </li>

              <li role="presentation" class="nav-item dropdown open">
                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="text-center">
                      <a class="dropdown-item">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
            {{{body}}}
          
    <!-- /page content -->

    
  </div>
  </div>

{{{javascripts}}}

<!-- Custom Theme Scripts -->
<script src="{{#if pathIsLevelTwo}}../{{/if}}javascripts/custom.js"></script>

<div class="form-group row">
</body>

</html>