<!-- page content -->
<div class="right_col" role="main">
  <div class="row" style="display: block;">
    <div class=" top_tiles" style="margin: 10px 0;">
      <div class="col-md-3 col-sm-3  tile">
        <span>Total bills</span>
        <h2>0</h2>
      </div>
      <div class="col-md-3 col-sm-3  tile">
        <span>Daily Revenue</span>
        <h2>0 đ</h2>
      </div>
      <div class="col-md-3 col-sm-3  tile">
        <span>Monthly Revenue</span>
        <h2>0 đ</h2>
      </div>
      <div class="col-md-3 col-sm-3  tile">
        <span>Today bills</span>
        <h2>0</h2>
      </div>
    </div>
  </div>
  <br />

  <p id="startDateSubmit" style="display: none;"></p>
  <p id="endDateSubmit" style="display: none;"></p>

  <div class="row">
    <div class="col-md-12 col-sm-12 first_row" style="padding: 30px 0px;">
      <div class="dashboard_graph x_panel">
        <div class="x_title">
          <div class="col-md-6">
            <h3>Compare revenue <small>[from picker]</small></h3>
          </div>
          <div class="col-md-6">
            <div id="reportrange" class="pull-right"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
          </div>
        </div>
        <div class="x_content">
          <div class="demo-container" style="height:250px">
            <div id="chart_plot_03" class="demo-placeholder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="report-content-wholesale">
    <h3>Saler board</h3>
    <table class="table">
      <thead>
          <tr>
              <th>Saler</th>
              <th>Number of bills</th>
              <th>subtotal</th>
          </tr>
      </thead>
      <tbody>
          
      </tbody>
      <tfoot>
          <tr>
              <td colspan="2"><strong>Tổng</strong></td>
              <td><strong>16 bills</strong></td>
          </tr>
      </tfoot>
    </table>
  </div>
  <div class="report-content">
    <h3>Staff Daskboard</h3>
    <table class="table">
      <thead>
          <tr>
              <th>SSN</th>
              <th>Wholesale</th>
              <th>number of sale</th>
          </tr>
      </thead>
      <tbody>
          
      </tbody>
      <tfoot>
          <tr>
              <td colspan="2"><strong>Sub</strong></td>
              <td><strong>0 đ</strong></td>
          </tr>
      </tfoot>
    </table>
  </div>

  <div class="col-md-6 col-sm-6 ">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>The most <small>by product</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="">Settings 1</a>
              <a class="dropdown-item" href="">Settings 2</a>
            </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="" style="width:100%">
          <tr>
            <th style="width:37%;">
              <p>Top 5</p>
            </th>
            <th>
              <div class="col-lg-9 col-md-9 col-sm-9 ">
                <p class="">Name</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 ">
                <p class="">Numbers</p>
              </div>
            </th>
          </tr>
          <tr>
            <td>
              <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
            </td>
            <td>
              <table class="tile_info">
                <tr>
                  <td>
                    <p><i class="fa fa-square blue"></i>Phone </p>
                  </td>
                  <td>30%</td>
                </tr>
                <tr>
                  <td>
                    <p><i class="fa fa-square green"></i>Case </p>
                  </td>
                  <td>10%</td>
                </tr>
                <tr>
                  <td>
                    <p><i class="fa fa-square purple"></i>Laptop </p>
                  </td>
                  <td>20%</td>
                </tr>
                <tr>
                  <td>
                    <p><i class="fa fa-square aero"></i>Headphone </p>
                  </td>
                  <td>15%</td>
                </tr>
                <tr>
                  <td>
                    <p><i class="fa fa-square red"></i>Others </p>
                  </td>
                  <td>30%</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-6 col-sm-6  widget_tally_box">
    <div class="x_panel">
      <div class="x_title">
        <h2>Best staff</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="">Settings 1</a>
              <a class="dropdown-item" href="">Settings 2</a>
            </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div id="graph_bar" style="width:100%; height:200px;"></div>

        <div class=" bg-white progress_summary">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->